//- index.pug
doctype html
html
  head
    title Dance Academy
    style
      include ../static/style.css
  body
    section#introSection
        div Welcome to Dance Academy
        div.small Eat, Sleep, Dance and Repeat         

    section#missionSection
        h3 Our Mission        
        div.card
          h2 Dance is Life
        div.card
          h2 Dance Perfection
        div.card
          h2 Learn Dance Today
    
    section#sponsorsSection
        h3 Our sponsors        
        
    footer#footer
        | Section for footer 

    script
      include ../static/index.js